<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Todo App</title>
</head>

<body>
    <div>
        <h1>To Do List</h1>

        <form action="/add" method="post">
            <div>
                <label>Todo task</label>
                <input type="text" name="task" placeholder="Enter a Task">
                <select name="category">
                    <option value="None" selected disabled hidden>Task Category</option>

                    {% for category in categories %}
                    <option value="{{category}}">{{category}}</option>
                    {% endfor %}
                </select>
                <button type="submit">Add a Task</button>
            </div>
        </form>
        <hr />
        <div>
            {% if message %}
            <div class="message">
                {{ message }}
            </div>
            {% endif %}
            {% if error %}
            <div class="error">
                {{ error }}
            </div>
            {% endif %}
            <!-- <form action="/getTodos">
                <select name="chosenCategory">
                    <option value="None" selected>All categories</option>
                    {% for category in categories %}
                    <option value="{{category}}">{{category}}</option>
                    {% endfor %}
                </select>
                <button type="submit">Show</button> -->
            </form>
            {% for todo in todoList %}
            <div class="task">

                <div>{{todo.id}}. {{todo.task}}</div>
                {% if todo.complete %}
                <p style="color:green">Complete</p>
                {% else %}
                <p style="color:red">Incomplete</p>
                {% endif %}
                <div>
                    <form action="/updateTask/{{todo.id}}" method="post">
                        <input type="text" name="updatedTask" placeholder="Update this task" />
                        <button type="submit">Update</button>
                    </form>
                </div>
                <div>
                    <p>Created on {{todo.date_created.strftime("%d %b")}}</p>
                    {% if todo.complete %}
                    <a href="/update/{{todo.id}}">Mark incomplete</a>
                    {% else %}
                    <a href="/update/{{todo.id}}">Mark complete</a>
                    {% endif %}
                </div>
                <a href="/delete/{{todo.id}}">Delete task</a>
            </div>
            {% endfor %}

        </div>
    </div>
</body>

</html>