body {
    justify-content: center;
    margin: auto;
    text-align: center;
}

.error,
.message {
    border-width: 5px;
    border-style: solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.error {
    color: red;
}

.message {
    color: green
}

.task {
    background-color: peachpuff;
    border-color: grey;
    border-width: 3px;
    border-style: solid;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}